<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aminano.djamb.annotation"
    >


  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />


  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:name="com.aminano.socketservicelibrary.BaseAppSocket"
      android:usesCleartextTraffic="true"

      >
    <!--    android:name=".BaseApp"-->
    <activity android:name=".AnnotationWithoutBaseApp">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>


    <activity android:name=".AnnotationWithBaseApp">

    </activity>


    <service
        android:name="com.aminano.socketservicelibrary.SocketService"
        android:exported="true"
        android:permission="android.permission.BIND_JOB_SERVICE"
        />


    <receiver
        android:name="com.aminano.socketservicelibrary.BroadCastInitSocket"
        android:enabled="true"
        android:exported="true"
        >
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />

        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>

  </application>

</manifest>